<%- include('./layouts/head',
{title: 'Booking'}
) %>
<%- include('./layouts/header',
) %>
<!-- Banner Area Starts -->
<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Booking</h1>
                <a href="index.html">Home</a> <span>|</span> <a href="about.html">About Us</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<section class="contact-form section-padding">
    <form  method="post" action="/booking/send">
        <div class="container">
            <h3>Doctor</h3>
            <div id="owl-demo" class="owl-carousel owl-theme">
                <% for (var i = 0; i < listDoctor.length; i++) { %>
                <div class="doctor-item">
                    <div class="doctor-img">
                        <img src="<%= listDoctor[i].info.img %>" alt="" class="img-fluid">
                    </div>
                    <span class="d-none" id="doctorId"><%= listDoctor[i].id %></span>
                    <div class="content-area">
                        <div class="doctor-name text-center">
                            <h3><%= listDoctor[i].info.lastname %></h3>
                        </div>
                    </div>
                </div>
                    <% } %>
            </div>
            <input type="text" name="doctorId" id="doctorValue" class="d-none" value="">
            <!--<div class="customNavigation">-->
            <!--<a class="btn hehe">Previous</a>-->
            <!--<a class="btn hihi">Next</a>-->
            <!--<a class="btn play">Autoplay</a>-->
            <!--<a class="btn stop">Stop</a>-->
            <!--</div>-->
            <h3>Time</h3>
            <div class="row">
                <% for (var i = 0; i < listTime.length; i++) { %>
                    <div class="time-item genric-btn danger-border radius"> <%= listTime[i].time %></div>
                    <div class="d-none"> <%= listTime[i].id %></div>
                <% } %>
            </div>
            <input type="text" id="timeValue" value="" name="timeId" class="d-none">
            <button type="submit" class="template-btn">Book</button>
        </div>
    </form>
</section>

<script>
    $('.time-item').click(function () {
        var value = $(this).next().text()
        $('#timeValue').val(value);

    });
    $('.doctor-img').click(function () {
        var value = $(this).next().text();
        console.log(value)
        $('#doctorValue').val(value);
    });

    var owl = $("#owl-demo");

    owl.owlCarousel({
        items: 4, //10 items above 1000px browser width
        itemsDesktop: [1000, 4], //5 items between 1000px and 901px
        itemsDesktopSmall: [900, 3], // betweem 900px and 601px
        itemsTablet: [600, 1], //2 items between 600 and 0
        itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
    });

    // // Custom Navigation Events
    // $(".hehe").click(function(){
    //     owl.trigger('owl.next');
    // })
    // $(".hihi").click(function(){
    //     owl.trigger('owl.prev');
    // })
    // $(".play").click(function(){
    //     owl.trigger('owl.play',1000); //owl.play event accept autoPlay speed as second parameter
    // })
    // $(".stop").click(function(){
    //     owl.trigger('owl.stop');
    // })
</script>
<%- include('./layouts/footer',
) %>
