


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container p-5">
    <h3>Record</h3>

    <div class="row">
        <% for (var i = 0; i < listRecord.length; i++) { %>
            <div class="col-3"> <%= listRecord[i].typeOfDisease %></div>
            <div class="col-3"> <%= listRecord[i].drug %></div>
            <div class="col-3"> <%= listRecord[i].createAt %></div>
            <div class="col-3"> <%= listRecord[i].updateAt %></div>
            <div class="col-3"> <%= listRecord[i].deleteAt %></div>
        <% } %>

    </div>
</div>

</body>
</html>
