<%- include('./layouts/head',
{title: 'Home Page'}
) %>
<%- include('./layouts/header',
) %>
<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>Caring for better life</h4>
                <h1>Leading the way in medical excellence</h1>
                <p>Earth greater grass for good. Place for divide evening yielding them that. Creeping beginning over gathered brought.</p>
                <a href="" class="template-btn mt-3">take appointment</a>
            </div>
            <div class="contact-form form-area">
                <h2 class="panel-title">Register</h2>
                <div class="">
                    <% if(hasErrors) { %>
                        <div class="alert alert-danger">
                            <% messages.forEach(function(message){ %>
                                <span><%=  message %></span>
                            <% })%>
                        </div>
                    <% } %>

                        <form role="form" action="/user/register" method="post">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="numbercmnd" value="<%= dataForm.numbercmnd %>" class="form-control input-sm" placeholder="So cmnn">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="address" value="<%= dataForm.address %>" class="form-control input-sm" placeholder="address">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <select name="gender"  value="<%= dataForm.gender %>" class="form-control input-sm" placeholder="gender">
                                            <option value="male">male</option>
                                            <option value="famale">famale</option>
                                            <option value="other">other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                       <input type="text" name="img" value="<%= dataForm.img %>" class="form-control input-sm" placeholder="img">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                       <input type="date" name="dob" value="<%= dataForm.dob %>" class="form-control input-sm" placeholder="dob">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="imgcmnn" value="<%= dataForm.imgcmnn%>" class="form-control input-sm" placeholder="imgcmnn">
                                    </div>
                                </div>
                        <div class="left">
                            <input name="firstname" id="firstname" value="<%= dataForm.firstname %>" type="text" placeholder="First name"  required>
                        </div>
                        <div class="right">
                            <input type="text" name="lastname" id="lastname" value="<%= dataForm.lastname %>" class="" placeholder="Last Name">

                        </div>
                        <input type="email" name="email" id="email" value="<%= dataForm.email %>" class="" placeholder="Email Address">
                        <div class="left">
                            <input type="password" name="password" id="password" class="" placeholder="Password">

                        </div>
                        <div class="right">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="" placeholder="Confirm Password">


                        </div>
                        <button type="submit" class="template-btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container">

    </div>
<%- include('./layouts/footer',
) %>
