<%- include('./layouts/head',
{title: 'Home Page'}
) %>
<%- include('./layouts/header',
) %>
<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h4>Caring for better life</h4>
                <h1>Leading the way in medical excellence</h1>
                <p>Earth greater grass for good. Place for divide evening yielding them that. Creeping beginning over gathered brought.</p>
                <a href="" class="template-btn mt-3">take appointment</a>
            </div>
            <div class="contact-form form-area">
                <h2 class="panel-title">Register</h2>
                <div class="">
                    <% if(hasErrors) { %>
                        <div class="alert alert-danger">
                            <% messages.forEach(function(message){ %>
                                <span><%=  message %></span>
                            <% })%>
                        </div>
                    <% } %>
                    <form role="form" action="/user/register" method="post">
                        <div class="left">
                            <input name="firstname" id="firstname" value="<%= dataForm.firstname %>" type="text" placeholder="First name"  required>
                        </div>
                        <div class="right">
                            <input type="text" name="lastname" id="lastname" value="<%= dataForm.lastname %>" class="" placeholder="Last Name">

                        </div>
                        <input type="email" name="email" id="email" value="<%= dataForm.email %>" class="" placeholder="Email Address">
                        <div class="left">
                            <input type="password" name="password" id="password" class="" placeholder="Password">

                        </div>
                        <div class="right">
                            <input type="password" name="password_confirmation" id="password_confirmation" class="" placeholder="Confirm Password">

                        </div>
                        <button type="submit" class="template-btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container">

    </div>
<%- include('./layouts/footer',
) %>
